html {
	border: solid #303030 2px;
}

body {
	margin: 0px;
}

aside {
	float: left;
	width: 40%;
	border: solid #303030 10px;
	text-align: center;
	margin: 0 auto;
	background-image: url("../bild/green.jpg");
	background-size: 2430px;
	height: 175vh;
}

main  {
	margin-left: 45%;
	width: 54%;
	text-align: center;
	border: solid #303030 10px;
	background-image: url("../bild/red.jpg");
	background-size: 2542px; 
	height: 175vh;
}

img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 100px;
}

h1{
	font-family: 'Noto Serif', serif;
}

h2 {
	font-family: 'Noto Serif', serif;
}

h3 {
	font-family: 'Noto Serif', serif;
}

h4 {
	font-family: 'Noto Serif', serif;
}

li {
	font-size: 1.4em;
	font-family: Noto Sans, sans-serif;

}

p {
	font-size: 1.4em;
	font-family: Noto Sans, sans-serif;
}

.stick {
	float: left;
	margin-left: 40%;
	width: 5%;
	height: 176.5vh;
	border: solid #303030;
	background: #303030;
	margin: 0 auto;
}

.name {
	text-align: center;
	float: middle;
	border: ridge grey 10px;
	margin: 0 auto;
	width: 30%;
	background: white;
	border-radius: 6px;
}

.contact {
	float: middle;
	border: inset grey 10px;
	margin: 0 auto;
	width: 60%;
	background: white;
	padding-left: 15px;
	text-align: left;
	margin-top: 70px;
	border-radius: 6px;
}

.skills {
	float: middle;
	text-align: left;
	border: outset grey 10px;
	margin: 0 auto;
	width: 60%;
	background: white;
	padding-left: 15px;
	margin-top: 100px;
	border-radius: 6px;
}

.checked {
    color: orange;
}

.ech {
	color: #303030;
}

.signature {
	font-family: Charmonman, cursive;
	font-size: 2em;
}

.sign {
	text-align: center;
	float: middle;
	border: solid #303030 10px;
	margin: 0 auto;
	width: 50%;
	background: white;
	margin-top: 290px;
	border-radius: 6px;
}

.about {
	text-align: left;
	padding-left: 10px;
	float: middle;
	border: ridge #303030 10px;
	margin: 0 auto;
	width: 60%;
	background: white;
	border-radius: 6px;
}

.timeline {
	position: relative;
	margin: 0 auto;
	border: ridge #303030 10px;
	width: 60%;
	border-radius: 6px;
	background-color: white;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #303030;
  top: 0;
  bottom: 0;
  left: 3%;
  margin-left: 3px;
}

.content {
	margin-left: 5%;
	text-align: left;
	background-color: #B71719; 
  	border-radius: 6px;
  	margin-right: 5%;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 24px;
  width: 0;
  z-index: 1;
  left: 22px;
  border: medium solid #B71719;
  border-width: 10px 10px 10px 0;
  border-color: transparent #B71719 transparent transparent;
}

.right::after {
  left: 16px;
}

.right2::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 342px;
  width: 0;
  z-index: 1;
  left: 22px;
  border: medium solid #B71719;
  border-width: 10px 10px 10px 0;
  border-color: transparent #B71719 transparent transparent;
}

.right2::after {
  left: 16px;
}

.right3::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 568px;
  width: 0;
  z-index: 1;
  left: 22px;
  border: medium solid #B71719;
  border-width: 10px 10px 10px 0;
  border-color: transparent #B71719 transparent transparent;
}

.right3::after {
  left: 16px;
}

.education {
	text-align: left;
	padding-left: 10px;
	float: middle;
	border: ridge #303030 10px;
	margin: 0 auto;
	width: 60%;
	background: white;
	border-radius: 6px;
}

